body {
    font-size: 100%;
    line-height: 1.5;
    background-color: white;
}

.container {
    margin: 0 auto;
    background-color: #ddd;
    width: 960px;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    background-color: white;
    border: 1px solid black;
    padding: 8px 0px;
}